<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="DeptProjectSetPage.aspx">
        <system.webServer>
            <defaultDocument>
                <files>
                    <remove value="default.aspx" />
                    <remove value="iisstart.htm" />
                    <remove value="index.html" />
                    <remove value="index.htm" />
                    <remove value="Default.asp" />
                    <remove value="Default.htm" />
                    <add value="ResourcesEdit/DeptProjectSetPage.aspx" />
                </files>
            </defaultDocument>
        </system.webServer>
    </location>
</configuration>
